

.section__container{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.section__containte {
    margin-left: 4rem;
}

.section__containte p{
 font-size: 1rem;
 font-family:  "Nova Mono", monospace;
}
.section__containte .p1{
    color: var(--cyan);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}



.section__containte h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: "Salsa", cursive ;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.section__container ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    
}

.section__container ul li h4{
    margin-left: 1rem;
    font-size: 1.6rem;
    font-family: "Nova Mono", monospace;
    line-height: 4rem;
}

.section__container ul li .icon{
    font-size: 1.5rem;
    color: var(--cyan);
}

.box_img{
    margin-right: 2rem ;
   width: 100%;
    /* height: 65vh; */
    border-radius: 90rem 1rem 1rem 1rem;
    background: linear-gradient( to top left,var(--light-cyan), var(--cyan));
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);

}

.box_img img{
    width: 100%;
    /* position: relative;
    left: -5%;
    bottom: 52%; */
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.btn_box{
    margin-top: -9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.star{
    font-size: 2rem;
    color: var(--cyan);
    margin-right: 1rem;
}

/* font-family: "Salsa", cursive; */



@media screen and (max-width: 900px){
    .section__container{
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        gap: 20px;
    }
}

@media screen and (max-width: 460px) {
    .section__containte .p1{
        font-size: 1.6rem;
        margin: 0.5rem auto;
    }

    .section__containte h1{
        font-size: 1.5rem;
        margin: 0.5rem auto;
    }

    .section__containte ul li h4{
        font-size: 1.1rem;
    }

    .section__containte  {
        margin-left: 0;
    }
}